@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans:wght@400;700&display=swap');

:root {
    --night-blue: #2C3E50;
    --star-yellow: #F1C40F;
    --cloud-white: #ECF0F1;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #34495E;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    color: var(--cloud-white);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--night-blue);
    padding: 2rem;
    border-bottom: 4px solid var(--star-yellow);
    text-align: center;
}

h1, h2 {
    font-family: 'Mochiy Pop One', cursive;
    color: var(--star-yellow);
}

.kawaii-card {
    background-color: rgba(255, 255, 255, 0.9);
    color: #2C3E50;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--star-yellow);
    transition: 0.3s;
}

.kawaii-card:hover {
    transform: rotate(1deg) scale(1.02);
}

.jap {
    font-size: 1.3rem;
    font-weight: bold;
    color: #E67E22;
}

.nav-btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: white;
    color: var(--night-blue);
    border: 2px solid var(--star-yellow);
}

.nav-btn.active {
    background: var(--star-yellow);
    color: var(--night-blue);
}


